In [1]:
import sqlite3
import datetime
import numpy as np
conn = sqlite3.connect('db.db')

## Re-Initialize Table for Player Info

In [6]:
#conn.execute("DROP TABLE USER")

conn.execute('''CREATE TABLE USER
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         ROLE TEXT NOT NULL,
         TALK     INT,
         LIE INT);''')

In [7]:
conn.execute("INSERT INTO USER (ID, NAME, ROLE, TALK, LIE) \
      VALUES (0, 'Player', 'Player', 0, 0)")
conn.execute("INSERT INTO USER (ID, NAME, ROLE, TALK, LIE) \
      VALUES (1, 'Alice', 'President', 50, 50)")
conn.execute("INSERT INTO USER (ID, NAME, ROLE, TALK, LIE) \
      VALUES (2, 'Bob', 'President', 50, 50)")

civilian_names = ['Cathy', 'Daniel', 'Ethan', 'Felix', 'Grace', 'Hu Yongao', 'Ivan']
for i in range(7):
    conn.execute(f"INSERT INTO USER (ID, NAME, ROLE, TALK, LIE) \
      VALUES ({3 + i}, '{civilian_names[i]}', 'Civilian', {np.random.randint(1, 99)}, {np.random.randint(1, 99)})")
    
conn.commit()

## Re-initialize Table for Message data

In [8]:
#conn.execute("DROP TABLE MESSAGE")

conn.execute('''CREATE TABLE MESSAGE
         (ID INT PRIMARY KEY     NOT NULL,
         SENDERID           INTEGER    NOT NULL,
         RECEIVERID     INTEGER NOT NULL,
         CONTENT     TEXT NOT NULL);''')

conn.execute(f"INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, CONTENT) \
      VALUES (1, 4, 5, 'hi there')");
conn.execute(f"INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, CONTENT) \
      VALUES (2, 5, 4, 'hi!')");

conn.commit()

In [2]:
conn.execute(f"INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, CONTENT)       VALUES (3, 0, 5, 'hello?')");
conn.commit()

In [3]:
conn.close()

In [11]:
print(f"INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, CONTENT) \
      VALUES (2, 5, 4, 'hi!')")

INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, CONTENT)       VALUES (2, 5, 4, 'hi!')

# Re-initialize the probabilities

In [9]:
#conn.execute("DROP TABLE PROB")

conn.execute('''CREATE TABLE PROB
         (PERCEIVER_ID INT     NOT NULL,
         PERCEIVED_ID           INTEGER    NOT NULL,
         P_PRESIDENT     INTEGER NOT NULL,
         P_CIVILIAN INTEGER NOT NULL,
         P_ASSASSIN INTEGER NOT NULL);''')

for i in range(8):
    for j in range(8):
        if i == j:
            continue
        conn.execute(f"INSERT INTO PROB (PERCEIVER_ID, PERCEIVED_ID, P_PRESIDENT, P_CIVILIAN, P_ASSASSIN) \
        VALUES ({i}, {j}, 0.1, 0.8, 0.1)");

conn.commit()

In [13]:
conn.close()